@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0; 
	border: 0;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body
     {
	
	position:absolute;
   }

.header_wrapper
{
width: 1348px;
height:auto;
background:black;

}   
 
  /* .main_wrapper
{
width: auto;
height:auto;
background:green;
}   */

#navbar{
	width: 1348px;
	height: 35px;
	background:gray;
	font-size:22px;
	text-decoration:;
	color:;
    	
}
#menu{

	line-height: 20px;
	 
	float: left;
	
}
  
   #menu li
   {
	  list-style:none;
	   display:inline;
	

	  
	  
	    
   }
    #menu  a  
	{
		
		text-decoration:none;
		margin:5px;
		padding:2px;
		color:brown; 
	}
	 #menu a:hover
	{
		text-decoration:none;
		color:white;
		font-weight:bolder;
		font-size:25px;
	}
	#form{float:right;padding-right:50px;padding-top:;line-height:;}
  
/* .content_wrapper{
	
	width: auto;
	height:auto;
	min-height:1000px;
}
 */



#left_sidebar  {
	background:black;
	height:850px; 
	width:200px;
	float:left ;


}
  #sidebar_title
  {
	 background:red;
font-size:30px;'
font-family: ;
padding: 10px;
color:black;	 
  }
  #cats 
  {
	  
	  
  }
  #cats li 
  {
	  list-style:none; 
	  margin:12px;
 }
  #cats a
  {
	  color:white;
	  font-size:16px;
	  text-decoration:none;
	  margin:5px;
 }
   #cats a:hover
   {
	   color:#f93;
	   text-decoration:underline;
	   font:bold;
	   font-size:30px;
  }


#right_content 
{
	 
	 height:auto;
}
#headline
{
 background:DarkCyan ;
 color:white;
 height:100px;
 width:auto;

 padding: 10px;
 }
#headline_content
{ 
float:right; 
}
#product_box
{  
     width:auto;

	height:700px;
	padding:10px;
	margin-left:30px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
	background:brown;
	
	
	
	
	
}


 #single_product
 {
	 float:left;
	 padding:10px;
	 margin-right:100px;
 }
 #single_product_img
 {
	 border:2px solid ;
 }
	
.footer
{
	height:auto;
	width: auto;
	padding-top: 0px;
	background:green;

}

	
	

 
